$background-color: linear-gradient(#15428a, #75064e);
$background-game-over: rgba(
	$color: #531111,
	$alpha: 0.95,
);

$btn-color: #7c7c7c;
$btn-hover: #bcbcbc;
$text-btn-color: rgb(42, 42, 138);

$font-color: white;
$text-shadow: 4px 4px 15px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.05);
$text-shadow-mobile: 4px 4px 15px #d5d5d5, 4px 3px 0px rgba(0, 0, 0, 0.05);
