.start-game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top:0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(#15428a, #75064e);

    &__text, &__text-level, &__text-and{
        text-align: center;
        text-transform: uppercase;
        font-size: 5rem;
        margin-bottom: 50px;
        text-shadow: 4px 4px 15px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.05);
        color: white;
        @include phone{
            font-size: 3rem;
            margin-bottom: 20px;
        }
    }

    &__text-level{
        font-size: 3rem;
        @include phone{
            margin-top: 20px;
            font-size: 1.8rem;
        }
    }

    &__text-and{
        margin-bottom: 20px;
        font-size:2.5rem;
    }

    &-hide{
        display: none;
    }

    &__btn{
        margin: 10px;
        width: 300px;
        font-size: 4rem;
        @include phone{
            width: 70%;
            font-size: 1rem;
        }
    }

    &__music{
        cursor: pointer;
        color: white;
        font-size: 3rem;
        margin: 10px 0;
    }

   .level{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    width: 100%;

    &-btn{
        width: 200px;
        font-size: 30px;
        margin: 30px 10px;

        @include phone{
            width: 22%;
            font-size: 0.6rem;
        }
    }
   }

}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-color: #15428a;
    background: linear-gradient(#15428a, #75064e);
}

.game {
    background-color: white;
    width: 100vmin;
    height: 80vmin;
    display: grid;
}

.game-over{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:0;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgba($color: #531111, $alpha: 0.95);
    text-transform: uppercase;

    &__text, .win-game{
        text-align: center;
        font-size: 100px;
        text-align: center;
        color: white;
        text-shadow: 4px 4px 15px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.05);
        margin-bottom: 35px;
    }

    .win-game{
        @include phone{
            font-size: 60px;
            line-height: 1.2;
        }
    }

    &__restart{
        color: rgb(42, 42, 138);
        min-width: 200px;
        font-size: 2.2rem;
    }

    &--visible{
        display: flex;
    }
}

$font-size: 30px;

.scores__container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100vmin;
    letter-spacing: .05em;
    text-shadow: 4px 4px 15px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.05);
    color: white;
    text-transform: uppercase;
    margin-bottom: 15px;

    @include phone{
        text-shadow: 4px 4px 15px #d5d5d5, 4px 3px 0px rgba(0, 0, 0, 0.05);
    }
}

.score {
   font-size: 50px;
   @include phone{
       font-size: 30px;
   }
}

.speed, .coins{
    font-size: 40px;
    @include phone{
        font-size: 15px;
    }
    &__number{
        text-transform: initial;
    }
}

.character {
    background-image: url('/images/character.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.coin {
    background-image: url('/images/coin.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.keyboard{
    display: none;
    width: 250px;
    flex-wrap: wrap;
    font-size: 2.5rem;
    margin-top: 50px;
    border-radius: 0;
    &__up{
        width: 100%;
        margin: 0 calc(100%/3);
    }

    &__down,&__left,&__right{
        width: calc(100%/3);
    }

    @include phone{
        display: flex;
    }

    @include largerdevices{
        display: flex;
        width: 400px;
    }
}

audio{
    display: none;
}